[user]
	name = Artiom Diomin
	email = kron82@gmail.com
	signingkey = 933D3F43BE623023
[color]
	diff = auto
	status = auto
	branch = auto
[merge]
	tool = vimdiff
	conflictstyle = diff3
[alias]
	ci = commit
	fci = commit --amend -m
	st = status -sb
	co = checkout
	diff = diff --word-diff
	br = branch
	sb = show-branch
	mt = mergetool
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	gg = grep --break --heading -n
[branch]
	autosetupmerge = true
[push]
	default = nothing
[diff]
	algorithm = patience
	tool = vimdiff
	compactionHeuristic = true
[core]
	excludesfile = /Users/kron/.gitignore_global
[difftool]
	prompt = false
[mergetool]
	prompt = false
[http "https://gopkg.in"]
	followRedirects = true
[tig]
    line-graphics = utf-8
[commit]
	gpgsign = true
